body {

  font-size: 10pt;

  font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;

  color: black;

  line-height: 14pt;

  padding-left: 5pt;

  padding-right: 5pt;

  padding-top: 5pt;

}


h1 {

  font: 14pt Verdana, Geneva, Arial, Helvetica, sans-serif;

  font-weight: bold;

  line-height: 20pt;

}
